{% comment %}
This file shows all used categories by posts - category without post will not show
One post could have multiple categories

This file could be called with parameter type. This type determines which category collection will be used for categories.
{% endcomment %}

<div class="section courses">
    <div class="col s12 center courses-title ">
        <h2>Naše kurzy</h2>
    </div>

{% assign used-categories = "" | split: ',' %}

{% for category in category_list %}
    {% for post in site.posts %}
        {% if post.categories contains category.name %}
            {% unless used-categories contains category.name %}
                <div class="row">
                    <a class="event-link" href="{{ category.url}}">
                        <div class="col s12 category-card">
                            <div class="card horizontal hoverable">
                                <div class="card-image hide-on-small-and-down">
                                    <img src="/assets/images/logos/gopas.png">
                                </div>
                                <div class="card-stacked">
                                    <div class="card-content left-align">
                                        <div class="row col s12">
                                            <h2 class="event-name">{{ category.title }}</h2>
                                            <p class="post-excerpt">{{ category.excerpt | default: post.tagline | markdownify | strip_html | truncatewords: 70 }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% assign used-categories = used-categories | push: category.name  %}
            {% endunless %}
        {% continue %}
        {% endif %}
    {% endfor %}
{% endfor %}
</div>