{% comment %}
This file shows all used categories by posts - category without post will not show
One post could have multiple categories

This file could be called with parameter type. This type determines which category collection will be used for categories.
{% endcomment %}

<ul class="list-horizontal">
    <li>
       <a href="/{{ layout.category_type | downcase }}"
          {% if page.title == layout.category_type  %}
                class="category-highlighted"
        {% endif %}
        > Vše </a>
    </li>

{% assign used-categories = "" | split: ',' %}

{% for category in category_list %}
    {% for post in site.posts %}
        {% if post.categories contains category.name %}
            {% unless used-categories contains category.name %}
                <li>
                    <a href="{{ category.url}}"
                       {% if category.name == page.name %}
                            class="category-highlighted"
                       {% endif %}
                    >
                        {{ category.name }}
                    </a>
                </li>
            {% assign used-categories = used-categories | push: category.name  %}
            {% endunless %}
            {% continue %}
        {% endif %}
    {% endfor %}
{% endfor %}
</ul>